<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
   HoCo-Documentation
  </title>
  <link href="/static/style.css" rel="stylesheet" type="text/css"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
 </head>
 <body>
  <h1 id="api-hoco">
   <strong>
    API HoCo
   </strong>
  </h1>
  <p>
   API RESTful do projeto
   <a href="https://github.com/Guardians-DSC/HoCo">
    HoCo
   </a>
   , que dispõe de funcionalidades
   <em>
    CRUD
   </em>
   de um sistema para gerenciamento de horas complementares dos alunos da graduação de Ciência da Computação na UFCG.
  </p>
  <h2 id="funcionalidades-oferecidas-pela-api">
   <strong>
    Funcionalidades oferecidas pela API:
   </strong>
  </h2>
  <h3 id="minhas-horas">
   <strong>
    Minhas horas
   </strong>
  </h3>
  <ul>
   <li>
    <a href="#recupera-o-total-de-creditos-do-aluno">
     <strong>
      Recupera o total de créditos do aluno
     </strong>
    </a>
   </li>
   <li>
    <a href="#recupera-o-total-de-creditos-por-categoria-do-aluno">
     <strong>
      Recupera o total de créditos por categoria do aluno
     </strong>
    </a>
   </li>
  </ul>
  <h3 id="minhas-atividades">
   <strong>
    Minhas atividades
   </strong>
  </h3>
  <ul>
   <li>
    <a href="#cadastra-uma-atividade-do-aluno">
     <strong>
      Cadastra uma atividade do aluno
     </strong>
    </a>
   </li>
   <li>
    <a href="#lista-as-atividades-cadastradas-do-aluno">
     <strong>
      Lista as atividades cadastradas do aluno
     </strong>
    </a>
   </li>
   <li>
    <a href="#edita-uma-atividade-do-aluno">
     <strong>
      Edita uma atividade do aluno
     </strong>
    </a>
   </li>
   <li>
    <a href="#remove-uma-atividade-do-aluno">
     <strong>
      Remove uma atividade do aluno
     </strong>
    </a>
   </li>
  </ul>
  <h3 id="organizacoes">
   <strong>
    Organizações
   </strong>
  </h3>
  <ul>
   <li>
    <a href="#cadastra-uma-organizacao-do-curso">
     <strong>
      Cadastra uma organização do curso
     </strong>
    </a>
   </li>
   <li>
    <a href="#lista-as-organizacoes-do-curso">
     <strong>
      Lista as organizações do curso
     </strong>
    </a>
   </li>
   <li>
    <a href="#remove-uma-organizaçao-do-curso">
     <strong>
      Remove uma organização do curso
     </strong>
    </a>
   </li>
  </ul>
  <h3 id="duvidas">
   <strong>
    Dúvidas
   </strong>
  </h3>
  <ul>
   <li>
    <a href="#cadastra-uma-duvida">
     <strong>
      Cadastra uma dúvida
     </strong>
    </a>
   </li>
   <li>
    <a href="#lista-as-duvidas">
     <strong>
      Lista as dúvidas
     </strong>
    </a>
   </li>
   <li>
    <a href="#remove-uma-duvida">
     <strong>
      Remove uma dúvida
     </strong>
    </a>
   </li>
  </ul>
  <h2 id="recupera-o-total-de-creditos-do-aluno">
   Recupera o total de creditos do aluno
  </h2>
  <p>
   Retorna um
   <em>
    JSON
   </em>
   contendo o número de créditos atual do aluno e o número máximo de créditos necessários no curso.
  </p>
  <h4 id="url">
   URL
  </h4>
  <pre class="codehilite"><code>GET /credits
</code></pre>
  <p>
   <strong>
    Exemplo
   </strong>
  </p>
  <h4 id="request">
   Request
  </h4>
  <pre class="codehilite"><code>curl -L -X GET 'https://hoco.netlify.app/credits'
</code></pre>
  <h4 id="response">
   Response
  </h4>
  <pre class="codehilite"><code>Status: 200 OK
</code></pre>
  <pre class="codehilite"><code>{
    "creditos": 11,
    "maximo": 22
}
</code></pre>
  <h2 id="recupera-o-total-de-creditos-por-categoria-do-aluno">
   Recupera o total de creditos por categoria do aluno
  </h2>
  <p>
   Retorna uma lista contendo o total de créditos acumulados, por categoria, do aluno e o número máximo de créditos possíveis na categoria, ordenado de forma decrescente a partir da categoria de maior proporção para a de menor proporção na proporção total.
  </p>
  <h4 id="url_1">
   URL
  </h4>
  <pre class="codehilite"><code>GET /categories/
</code></pre>
  <p>
   <strong>
    Exemplo
   </strong>
  </p>
  <h4 id="request_1">
   Request
  </h4>
  <pre class="codehilite"><code>curl -L -X GET 'https://hoco.netlify.app/categories/'
</code></pre>
  <h4 id="response_1">
   Response
  </h4>
  <pre class="codehilite"><code>Status: 200 OK
</code></pre>
  <pre class="codehilite"><code>[
    {
        "category": "Projeto",
        "amount": 16,
        "max": 16,
        "category_piece": 0.20
    },
    {
        "category": "Evento",
        "amount": 12,
        "max": 16,
        "category_piece": 0.18
    },
    {
        "category": "Monitoria",
        "amount": 4,
        "max": 18,
        "category_piece": 0.15
    },
    {
        "category": "Caesi",
        "amount": 2,
        "max": 4,
        "category_piece": 0.10
    }
]
</code></pre>
  <h2 id="cadastra-uma-atividade-do-aluno">
   Cadastra uma atividade do aluno
  </h2>
  <p>
   Adiciona no banco de dados uma atividade do aluno e retorna uma lista contendo todas as atividades adicionadas do aluno. A requisição deve enviar no body um
   <em>
    JSON
   </em>
   com os campos
   <code>
    title
   </code>
   ,
   <code>
    credits
   </code>
   ,
   <code>
    time (horas)
   </code>
   e
   <code>
    category
   </code>
   .
  </p>
  <h4 id="url_2">
   URL
  </h4>
  <pre class="codehilite"><code>POST /activity
</code></pre>
  <h4 id="body">
   Body
  </h4>
  <table>
   <thead>
    <tr>
     <th>
      Parameters
     </th>
     <th>
      Type
     </th>
     <th>
      Requirement
     </th>
     <th>
      Description
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      <code>
       title
      </code>
     </td>
     <td>
      String
     </td>
     <td>
      obrigatório
     </td>
     <td>
      o nome da atividade.
     </td>
    </tr>
    <tr>
     <td>
      <code>
       credits
      </code>
     </td>
     <td>
      int
     </td>
     <td>
      obrigatório
     </td>
     <td>
      os créditos obtidos na atividade.
     </td>
    </tr>
    <tr>
     <td>
      <code>
       time
      </code>
     </td>
     <td>
      int
     </td>
     <td>
      obrigatório
     </td>
     <td>
      as horas gastas na atividade.
     </td>
    </tr>
    <tr>
     <td>
      <code>
       category
      </code>
     </td>
     <td>
      String
     </td>
     <td>
      obrigatório
     </td>
     <td>
      a categoria da atividade.
     </td>
    </tr>
   </tbody>
  </table>
  <p>
   <strong>
    Exemplos
   </strong>
  </p>
  <h4 id="request_2">
   Request
  </h4>
  <pre class="codehilite"><code>curl -L -X POST 'https://hoco.netlify.app/activity' \
-H 'Content-Type: application/json' \
--data-raw '{
        "titulo": "projeto ePol",
        "creditos": 10,
        "categoria": "Projeto"
    }
}'
</code></pre>
  <h4 id="response_2">
   Response
  </h4>
  <pre class="codehilite"><code>Status: 201 CREATED
</code></pre>
  <pre class="codehilite"><code>[
    {
        "id:": 129087124908,
        "title": "projeto ePol",
        "credits": 10,
        "category": "Projeto"
    },
    {
        "id:": 129087124901,
        "title": "CodeSQ",
        "time": 320,
        "category": "Projeto"
    },
    {
        "id:": 132312312312,
        "title": "Andromedev",
        "time": 135,
        "category": "Evento"
    }
]
</code></pre>
  <h2 id="lista-as-atividades-cadastradas-do-aluno">
   Lista as atividades cadastradas do aluno
  </h2>
  <p>
   Retorna uma lista contendo todas as atividades adicionadas do aluno.
  </p>
  <h4 id="url_3">
   URL
  </h4>
  <pre class="codehilite"><code>GET /activities
</code></pre>
  <p>
   <strong>
    Exemplo
   </strong>
  </p>
  <h4 id="request_3">
   Request
  </h4>
  <pre class="codehilite"><code>curl -L -X GET 'https://hoco.netlify.app/activities'
</code></pre>
  <h4 id="response_3">
   Response
  </h4>
  <pre class="codehilite"><code>Status: 200 OK
</code></pre>
  <pre class="codehilite"><code>[
    {
        "id:": 129087124908,
        "title": "projeto ePol",
        "credits": 10,
        "category": "Projeto"
    },
    {
        "id:": 129087124901,
        "title": "CodeSQ",
        "credits": 4,
        "category": "Projeto"
    },
    {
        "id:": 132312312312,
        "title": "Andromedev",
        "time": 135,
        "category": "Evento"
    }
]
</code></pre>
  <h2 id="edita-uma-atividade-do-aluno">
   Edita uma atividade do aluno
  </h2>
  <p>
   Atualiza no banco de dados as informações de uma atividade do aluno e retorna uma lista contendo todas as atividades atuais do aluno. O ID da atividade deve ser informado na URL. A requisição deve enviar no body um
   <em>
    JSON
   </em>
   contendo os campos de possível edição, sendo estes:
   <code>
    title
   </code>
   ,
   <code>
    credits
   </code>
   ,
   <code>
    time (horas)
   </code>
   e
   <code>
    category
   </code>
   .
  </p>
  <h4 id="url_4">
   URL
  </h4>
  <pre class="codehilite"><code>PATCH /activity?id=&lt;atividade_id&gt;
</code></pre>
  <table>
   <thead>
    <tr>
     <th>
      Parameters
     </th>
     <th>
      Type
     </th>
     <th>
      Requirement
     </th>
     <th>
      Description
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      <code>
       activity_id
      </code>
     </td>
     <td>
      String
     </td>
     <td>
      obrigatório
     </td>
     <td>
      o id da atividade.
     </td>
    </tr>
   </tbody>
  </table>
  <h4 id="body_1">
   Body
  </h4>
  <table>
   <thead>
    <tr>
     <th>
      Parameters
     </th>
     <th>
      Type
     </th>
     <th>
      Requirement
     </th>
     <th>
      Description
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      <code>
       title
      </code>
     </td>
     <td>
      String
     </td>
     <td>
      opcional
     </td>
     <td>
      o nome da atividade.
     </td>
    </tr>
    <tr>
     <td>
      <code>
       credits
      </code>
     </td>
     <td>
      int
     </td>
     <td>
      opcional
     </td>
     <td>
      os créditos obtidos na atividade.
     </td>
    </tr>
    <tr>
     <td>
      <code>
       time
      </code>
     </td>
     <td>
      int
     </td>
     <td>
      opcional
     </td>
     <td>
      as horas gastas na atividade.
     </td>
    </tr>
    <tr>
     <td>
      <code>
       category
      </code>
     </td>
     <td>
      String
     </td>
     <td>
      opcional
     </td>
     <td>
      a categoria da atividade.
     </td>
    </tr>
   </tbody>
  </table>
  <p>
   <strong>
    Exemplos
   </strong>
  </p>
  <h4 id="request_4">
   Request
  </h4>
  <pre class="codehilite"><code>curl -L -X PATCH 'https://hoco.netlify.app/activity?id=129087124908' \
-H 'Content-Type: application/json' \
--data-raw '{
    "creditos": 12
}'
</code></pre>
  <h4 id="response_4">
   Response
  </h4>
  <pre class="codehilite"><code>Status: 200 OK
</code></pre>
  <pre class="codehilite"><code>[
    {
        "id:": 129087124908,
        "title": "projeto ePol",
        "credits": 12,
        "time": 950,
        "category": "Projeto"
    },
    {
        "id:": 129087124901,
        "title": "CodeSQ",
        "credits": 4,
        "time": 320,
        "category": "Projeto"
    },
    {
        "id:": 132312312312,
        "title": "Andromedev",
        "time": 135,
        "category": "Evento"
    }
]
</code></pre>
  <h2 id="remove-uma-atividade-do-aluno">
   Remove uma atividade do aluno
  </h2>
  <p>
   Deleta do banco de dados uma atividade do aluno e retorna uma lista contendo todas as atividades restantes do aluno. O ID da atividade deve ser informado na URL.
  </p>
  <h4 id="url_5">
   URL
  </h4>
  <pre class="codehilite"><code>DELETE /atividade?id=&lt;atividade_id&gt;
</code></pre>
  <table>
   <thead>
    <tr>
     <th>
      Parameters
     </th>
     <th>
      Type
     </th>
     <th>
      Requirement
     </th>
     <th>
      Description
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      <code>
       atividade_id
      </code>
     </td>
     <td>
      String
     </td>
     <td>
      obrigatório
     </td>
     <td>
      o id da atividade.
     </td>
    </tr>
   </tbody>
  </table>
  <p>
   <strong>
    Exemplos
   </strong>
  </p>
  <h4 id="request_5">
   Request
  </h4>
  <pre class="codehilite"><code>curl -L -X DELETE 'https://hoco.netlify.app/activity?id=129087124908'
</code></pre>
  <h4 id="response_5">
   Response
  </h4>
  <pre class="codehilite"><code>Status: 200 OK
</code></pre>
  <pre class="codehilite"><code>[
    {
        "id:": 129087124901,
        "title": "CodeSQ",
        "credits": 4,
        "category": "Projeto"
    },
    {
        "id:": 132312312312,
        "title": "Andromedev",
        "time": 135,
        "category": "Evento"
    }
]
</code></pre>
  <h2 id="cadastra-uma-organizacao-do-curso">
   Cadastra uma organização do curso
  </h2>
  <p>
   Adiciona no banco de dados uma organização do curso e retorna uma lista contendo todas as organizações adicionadas do curso.
  </p>
  <h4 id="url_6">
   URL
  </h4>
  <pre class="codehilite"><code>POST /org
</code></pre>
  <h4 id="body_2">
   Body
  </h4>
  <p>
   <strong>
    Content-type
   </strong>
   : Multipart Form
  </p>
  <table>
   <thead>
    <tr>
     <th>
      Parameters
     </th>
     <th>
      Type
     </th>
     <th>
      Requirement
     </th>
     <th>
      Description
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      <code>
       name
      </code>
     </td>
     <td>
      String
     </td>
     <td>
      obrigatório
     </td>
     <td>
      o nome da organização.
     </td>
    </tr>
    <tr>
     <td>
      <code>
       org_url
      </code>
     </td>
     <td>
      String
     </td>
     <td>
      obrigatório
     </td>
     <td>
      Url de acesso da organização na web.
     </td>
    </tr>
    <tr>
     <td>
      <code>
       image
      </code>
     </td>
     <td>
      File
     </td>
     <td>
      obrigatório
     </td>
     <td>
      Arquivo de imagem representante da organização
     </td>
    </tr>
   </tbody>
  </table>
  <p>
   <strong>
    Exemplos
   </strong>
  </p>
  <h4 id="request_6">
   Request
  </h4>
  <pre class="codehilite"><code>curl -L -X POST 'https://hoco.netlify.app/org' \
    -H 'Content-Type: form-data' \
    -F name='nome'\
    -F org_url=url'\
    -F image &lt;caminho/para/arquivo&gt;
}'
</code></pre>
  <h4 id="response_6">
   Response
  </h4>
  <pre class="codehilite"><code>Status: 201 CREATED
</code></pre>
  <pre class="codehilite"><code>{
    "_id": 1231231231231232,
    "name": "OpenDevUFCG",
    "org_url": "&lt;URL&gt;",
    "image": &lt;coded_image&gt;
}
</code></pre>
  <h2 id="lista-as-organizacoes-do-curso">
   Lista as organizacoes do curso
  </h2>
  <p>
   Retorna uma lista contendo todas as organizações adicionadas do curso.
  </p>
  <h4 id="url_7">
   URL
  </h4>
  <pre class="codehilite"><code>GET /orgs
</code></pre>
  <p>
   <strong>
    Exemplo
   </strong>
  </p>
  <h4 id="request_7">
   Request
  </h4>
  <pre class="codehilite"><code>curl -L -X GET 'https://hoco.netlify.app/orgs'
</code></pre>
  <h4 id="response_7">
   Response
  </h4>
  <pre class="codehilite"><code>Status: 200 OK
</code></pre>
  <pre class="codehilite"><code>[
    {
        "_id": 1231231231231232,
        "name": "OpenDevUFCG",
        "org_url": "&lt;URL&gt;",
        "image": &lt;coded_image&gt;
    },
    {
        "_id": 1231231231231232,
        "name": "Pet@Computação",
        "org_url": "&lt;URL&gt;",
        "image": &lt;coded_image&gt;
    },
    {
        "_id": 1231231231231232,
        "name": "Caesi",
        "org_url": "&lt;URL&gt;",
        "image": &lt;coded_image&gt;
    },
    {
        "_id": 1231231231231232,
        "name": "Guardians",
        "org_url": "&lt;URL&gt;",
        "image": &lt;coded_image&gt;
    },
    {
        "_id": 1231231231231232,
        "name": "Elas@Computação",
        "org_url": "&lt;URL&gt;",
        "image": &lt;coded_image&gt;
    }
]
</code></pre>
  <h2 id="remove-uma-organizacao-do-curso">
   Remove uma organizacao do curso
  </h2>
  <p>
   Deleta do banco de dados uma organização do curso e retorna uma lista contendo todas as organizações restantes do curso. O ID da organização deve ser informado na URL.
  </p>
  <h4 id="url_8">
   URL
  </h4>
  <pre class="codehilite"><code>DELETE /org?id=&lt;org_id&gt;
</code></pre>
  <table>
   <thead>
    <tr>
     <th>
      Parameters
     </th>
     <th>
      Type
     </th>
     <th>
      Requirement
     </th>
     <th>
      Description
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      <code>
       id
      </code>
     </td>
     <td>
      String
     </td>
     <td>
      obrigatório
     </td>
     <td>
      id da organização no banco de dados.
     </td>
    </tr>
   </tbody>
  </table>
  <p>
   <strong>
    Exemplos
   </strong>
  </p>
  <h4 id="request_8">
   Request
  </h4>
  <pre class="codehilite"><code>curl -L -X DELETE 'https://hoco.netlify.app/org?id=62a60f4fc230515f63abae43'
</code></pre>
  <h4 id="response_8">
   Response
  </h4>
  <pre class="codehilite"><code>Status: 200 OK
</code></pre>
  <pre class="codehilite"><code>[
    {
        "_id": 1231231231231232,
        "name": "Pet@Computação",
        "org_url": "&lt;URL&gt;",
        "image": &lt;coded_image&gt;
    },
    {
        "_id": 1231231231231232,
        "name": "Caesi",
        "org_url": "&lt;URL&gt;",
        "image": &lt;coded_image&gt;
    },
    {
        "_id": 1231231231231232,
        "name": "Guardians",
        "org_url": "&lt;URL&gt;",
        "image": &lt;coded_image&gt;
    },
    {
        "_id": 1231231231231232,
        "name": "Elas@Computação",
        "org_url": "&lt;URL&gt;",
        "image": &lt;coded_image&gt;g"
    }
]
`
</code></pre>
  <h2 id="cadastra-uma-duvida">
   Cadastra uma duvida
  </h2>
  <p>
   Adiciona no banco de dados uma dúvida sobre o curso com a respectiva resposta e retorna uma lista contendo todas as dúvidas adicionadas sobre o curso. A requisição deve enviar no body um
   <em>
    JSON
   </em>
   com os campos
   <code>
    question
   </code>
   e
   <code>
    answer
   </code>
   .
  </p>
  <h4 id="url_9">
   URL
  </h4>
  <pre class="codehilite"><code>POST /question
</code></pre>
  <h4 id="body_3">
   Body
  </h4>
  <table>
   <thead>
    <tr>
     <th>
      Parameters
     </th>
     <th>
      Type
     </th>
     <th>
      Requirement
     </th>
     <th>
      Description
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      <code>
       question
      </code>
     </td>
     <td>
      String
     </td>
     <td>
      obrigatório
     </td>
     <td>
      a dúvida sobre o curso.
     </td>
    </tr>
    <tr>
     <td>
      <code>
       answer
      </code>
     </td>
     <td>
      String
     </td>
     <td>
      obrigatório
     </td>
     <td>
      a resposta da dúvida sobre o curso.
     </td>
    </tr>
   </tbody>
  </table>
  <p>
   <strong>
    Exemplos
   </strong>
  </p>
  <h4 id="request_9">
   Request
  </h4>
  <pre class="codehilite"><code>curl -L -X POST 'https://hoco.netlify.app/question' \
-H 'Content-Type: application/json' \
--data-raw '{
        "question": "[a pergunta aqui]",
            "answer": "[a resposta aqui]"
    }
}'
</code></pre>
  <h4 id="response_9">
   Response
  </h4>
  <pre class="codehilite"><code>Status: 201 CREATED
</code></pre>
  <pre class="codehilite"><code>{
    "_id": 12345,
    "question": "[a pergunta aqui]",
    "answer": "[a resposta aqui]"
}
</code></pre>
  <h2 id="lista-as-duvidas">
   Lista as duvidas
  </h2>
  <p>
   Retorna uma lista contendo todas as dúvidas adicionadas sobre o curso.
  </p>
  <h4 id="url_10">
   URL
  </h4>
  <pre class="codehilite"><code>GET /questions
</code></pre>
  <p>
   <strong>
    Exemplo
   </strong>
  </p>
  <h4 id="request_10">
   Request
  </h4>
  <pre class="codehilite"><code>curl -L -X GET 'https://hoco.netlify.app/questions'
</code></pre>
  <h4 id="response_10">
   Response
  </h4>
  <pre class="codehilite"><code>Status: 200 OK
</code></pre>
  <pre class="codehilite"><code>[
    {
        "_id": 12345,
        "question": "[a pergunta aqui]",
        "answer": "[a resposta aqui]"
    },
    {
        "_id": 12678,
        "question": "[a pergunta aqui]",
        "answer": "[a resposta aqui]"
    },
    {
        "_id": 12901,
        "question": "[a pergunta aqui]",
        "answer": "[a resposta aqui]"
    }
]
</code></pre>
  <h2 id="remove-uma-duvida">
   Remove uma duvida
  </h2>
  <p>
   Deleta do banco de dados uma dúvida sobre o curso e retorna uma lista contendo todas as dúvidas restantes sobre o curso. O ID da organização deve ser informado na URL.
  </p>
  <h4 id="url_11">
   URL
  </h4>
  <pre class="codehilite"><code>DELETE /question?id=&lt;question_id&gt;
</code></pre>
  <table>
   <thead>
    <tr>
     <th>
      Parameters
     </th>
     <th>
      Type
     </th>
     <th>
      Requirement
     </th>
     <th>
      Description
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      <code>
       question_id
      </code>
     </td>
     <td>
      String
     </td>
     <td>
      obrigatório
     </td>
     <td>
      o id da dúvida no bd.
     </td>
    </tr>
   </tbody>
  </table>
  <p>
   <strong>
    Exemplos
   </strong>
  </p>
  <h4 id="request_11">
   Request
  </h4>
  <pre class="codehilite"><code>curl -L -X DELETE 'https://hoco.netlify.app/question?id=12345'
</code></pre>
  <h4 id="response_11">
   Response
  </h4>
  <pre class="codehilite"><code>Status: 200 OK
</code></pre>
  <pre class="codehilite"><code>[
    {
        "_id": 12678,
        "question": "[a pergunta aqui]",
        "answer": "[a resposta aqui]"
    },
    {
        "_id": 12901,
        "question": "[a pergunta aqui]",
        "answer": "[a resposta aqui]"
    }
]
</code></pre>
 </body>
</html>
